%article.post#id3
  %h1.title
    Testing one more time

  %hr

  %section.markdown
    = markdown :test_post3

%article.post#id2
  %h1.title
    Testing

  %hr

  %section.markdown
    = markdown :test_post2

%article.post#id1
  %h1.title
    Hello, World!

  %hr

  %section.markdown
    = markdown :test_post1
