$bodybg:    #123456
$headerbg:  #CECECE
$contentbg: #DEDEDE
$link:      black
$radius:    5px

body
  background-color: $bodybg
  margin:    0
  padding:   0
  font-family: Helvetica, Arial, Verdana, sans-serif
  font-size: 12pt
  *
    margin: 0
    padding: 0

a
  text-decoration: none
  color: $link

header
  margin-left: 15px
  margin-right: 15px
  padding: 10px
  background-color: $headerbg
  background: -webkit-linear-gradient(top, $headerbg, darken($headerbg, 30%))
  background: -moz-linear-gradient(top, $headerbg, darken($headerbg, 30%))
  -moz-border-radius: 0 0 $radius $radius
  -webkit-border-radius: 0 0 $radius $radius
  -webkit-box-shadow: 0 0 10px $contentbg
  -moz-box-shadow: 0 0 10px $contentbg

  nav
    h1
      display: inline
      a
        text-shadow: 0 0 1px lighten($link, 20%)
      a:hover
        text-shadow: 0 0 2px lighten($link, 22%)
    ul
      list-style: none
      display: inline
      li
        display: inline
        a
          color: lighten($link, 20%)
        a:hover
          text-decoration: underline
      li:after
        content: ' | '
      li:last-child:after
        content: ''

body
  table
    width: 100%

td#content
  min-width: 200px

td#sidebar
  width: 350px

article:after
  background: -moz-linear-gradient(top, $contentbg, $headerbg, $contentbg)
  background: -webkit-linear-gradient(top, $contentbg, $headerbg, $contentbg)
  display: block
  width: 100%
  content: '- - - - -'
  margin-top: 20px
  margin-bottom: 30px
  text-align: center
  -webkit-border-radius: $radius * 3
  -moz-border-radius: $radius * 3
article:last-child:after
  content: ''
  margin-top: 0
  margin-bottom: 0

article
  section.markdown
    p
      margin-top: 10px
      margin-bottom: 10px
    a
      background-color: lighten($bodybg, 50%)

section#content
  vertical-align: top
  height: 100%
  margin-top:   20px
  margin-left:  15px
  margin-right: 15px
  padding:      10px
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -webkit-box-shadow:    0 0 10px $contentbg
  -moz-box-shadow:       0 0 10px $contentbg
  background-color:      $contentbg
  h1
    text-align:  center
    font-weight: bold
    font-size:   130%
    margin:      10px
  hr
    height: 1px

section#sidebar
  position: relative
  top: 0
  vertical-align: top
  height: 100%
  margin-top: 20px
  margin-left: 15px
  margin-right: 15px
  padding: 10px
  -moz-border-radius:    $radius
  -webkit-border-radius: $radius
  -webkit-box-shadow:    0 0 10px $contentbg
  -moz-box-shadow:       0 0 10px $contentbg
  background-color:      darken($contentbg, 40%)
